#ignore thumbnails created by windows
Thumbs.db
#custom files needed
!.\tools\*.*
!NuGet.exe
#Ignore files build by Visual Studio
*.sdf
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
#nuget
packages/
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.sdf
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
